*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-card-outer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.main-card-inner{
  height: 450px;
  width: 550px;
  background-color: #F8F8FF;
  border-radius: 8px;
}

.heading{
  display: flex;
  padding: 20px;
  font-size: medium;
}

.icon{
  padding-top: 2px;
  padding-right: 5px;
}

.news-capsule{
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 4px 14px;
  border-radius: 15px;
  font-size: medium;
  margin: 5px;
  background-color: white;
}

.news-capsule:hover{
  cursor: pointer;
}

.news-card{
  padding: 20px;
}